.front{
	background-image: linear-gradient(to bottom right, red, yellow);;
	border-style: solid;
	margin: 120px;
}
.front p{
	text-align: center;
	background-color: yellow;
	font-family: monospace;
	letter-spacing: 3px;
	font-size: 20px;
}
.front h1{
	text-align: center;
	font-family:verdana;
	color: #2d3436;
	font-size: 60px;
}
.front h4{
	text-align: center;
	font-family: initial;
	font-size: 30px;
	letter-spacing: 4px;
	background-color: white;
	margin-left: 30%;
	margin-right: 30%;
	border-radius: 30px;
}
.front h6{
	text-align: center;
	background-color: yellow;
	font-family: monospace;
	letter-spacing: 3px;
	font-size: 20px;
}
.content{
	border-style: solid;
	text-align: center;
	margin: 120px;
	font-family: cursive;
}
.content h1{
	font-family: verdana;
}
.author{
	font-family: verdana;
}
.ch1{
	border-style: solid;
	margin: 120px;
	font-family: cursive;
	text-align: center;
}
.ch1 header{
	text-align: left;
	font-size: 20px;
	margin-left: 50px;

}
.ch1 h1{
	text-align: center;
	font-family: verdana;
	background-color: #81ecec;
	border-radius: 30px;
	margin-left: 130px;
	margin-right: 130px;
}
.ch1 .ai{
	font-family: sans-serif;
	font-size:18px;
}
.ch2{
	border-style: solid;
	margin: 120px;
	font-family: cursive;
	text-align: center;
}
.ch2 h1{
	text-align: center;
	font-family: verdana;
	background-color: #81ecec;
	border-radius: 30px;
	margin-left: 130px;
	margin-right: 130px;
}
.ch2 .cloud{
	font-family: sans-serif;
	font-size:20px;
}
.ch2 header{
	text-align: left;
	font-size: 20px;
	margin-left: 50px;
}
.ch3{
	border-style: solid;
	margin: 120px;
	font-family: cursive;
	text-align: center;
}
.ch3 h1{
	text-align: center;
	font-family: verdana;
	background-color: #81ecec;
	border-radius: 30px;
	margin-left: 130px;
	margin-right: 130px;
}
.ch3 .security{
	font-family: sans-serif;
	font-size:20px;
}
.ch3 header{
	text-align: left;
	font-size: 20px;
	margin-left: 50px;
}
.ch4{
	border-style: solid;
	margin: 120px;
	font-family: cursive;
	text-align: center;
}
.ch4 h1{
	text-align: center;
	font-family: verdana;
	background-color: #81ecec;
	border-radius: 30px;
	margin-left: 130px;
	margin-right: 130px;
}
.ch4 .api{
	font-family: sans-serif;
	font-size:20px;
}
.ch4 header{
	text-align: left;
	font-size: 20px;
	margin-left: 50px;
}
.ch5{
	border-style: solid;
	margin: 120px;
	font-family: cursive;
	text-align: center;
}
.ch5 h1{
	text-align: center;
	font-family: verdana;
	background-color: #81ecec;
	border-radius: 30px;
	margin-left: 130px;
	margin-right: 130px;
}
.ch5 .ip{
	font-family: sans-serif;
	font-size:20px;
}
.ch5 header{
	text-align: left;
	font-size: 20px;
	margin-left: 50px;
}